---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | RR">
  <main
    class="mt-16 xl:mt-24 px-8 md: px12 xl:px-28 flex-col xl:flex-row-reverse gap-16 xl:items-center"
  >
    <img
      src="http://picsum.photos//300/250"
      alt="fake-image"
      class="mx-auto xl:w-full"
    />
    <div
      class="flex flex-col gap-8 items-center xl:items-start text-center xl:text-left"
    >
      <h1 class="text-4xl xl:text-5xl font-bold">All you need is here</h1>
      <span class="text-cyan-600 dark:text-cyan-400">Come on!</span>
      <p class="xl:text-xl">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit eius
        vitae tempore. Non quae exercitationem at obcaecati incidunt expedita
        libero animi laboriosam nobis, reprehenderit laudantium sunt vero
        dignissimos, deleniti et.
      </p>
    </div>
  </main>
</Layout>
